
.house-price-prediction-card {
    width: 500px;
}

.container {
    padding-top: 100px;
}

.full-width{
    width: 100%;
}

.form-field-height {
    width: 400px;
}

.adjust-margin {
    margin-left: 50px;
}